LocalPlayer/Backup/LocalPlayer/Service References/WCF/PlayerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ContentManagerMVC.WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ContentManagerMVC.WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DlFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartPoint" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DlFileInfo" nillable="true" type="tns:DlFileInfo" />
  <xs:complexType name="DlFileBuff">
    <xs:sequence>
      <xs:element minOccurs="0" name="BufStream" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CurrPoint" type="xs:long" />
      <xs:element minOccurs="0" name="FileSize" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DlFileBuff" nillable="true" type="tns:DlFileBuff" />
</xs:schema>